
.register__main{
    margin:0% 20%;
}

.register__text{
    display: flex;
    flex-direction: row;
}

.register__text--required-back{
    background-color: red;
    display:inline-block;
}
.register__text--required-back p {
    color:#ffffff;
}

.register__error{
    color:red;
}

.register__seasons{
    display: flex;
    flex-direction: row;
}