.update{
    display: grid;
    grid-template-rows: 1000px 5000px;
    grid-template-columns: 5fr 5fr;
    margin: auto;
}
.update__image{
    grid-column: 1/2;
    grid-row: 1/2;
}
.update__upper-text{
    grid-column: 2/3;
    grid-row: 1/2;
}
.update__lower-text{
    grid-column: 1/3;
    grid-row: 2/3;
}